<div class= "col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>
	<p>
   	 	Splurty was built by <a target="_blank" href="http://github.com/isiah18">Isiah Singh</a>. A new web developer learning to build complex web applications.
  	</p>
 	<br />
 	<p>
    	Finishing up college at the University of Maryland Baltimore County. He is beginning his journey to becoming a professional web developer. 
  	</p>
  	<p>
    	If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  	</p>

  	<div class="col-xs-12 col-sm-4">
  		<%= image_tag 'isiah.jpg', :class => 'img-responsive' %>
  	</div>

  	<div class= "col-xs-12 col-sm-7 col-sm-offset-1">
  		<h2 class= "text-center">Isiah Singh</h2>
  		<br />
  		<p>
  			Isiah Singh is a student at the University of Maryland Baltimore County. He will graduate in May 2015. He will continue and pursue a career in web development. He was born in Potomac Maryland, and lived in Bradenton Florida for 5 years of his life. He has a true passion for programming. Although this is the first website you are seeing from him, it won't be the last!.
  		</p>
  	</div>
  	<br class = "clear" />

</div>
<br class = "clear" />
<br />